beautifulsoup4==4.6.0
esptool==2.0.1
giphypop==0.3
imutils==0.4.3
numpy==1.13.1
opencv-python==3.3.0.10
Pillow==4.2.1
psutil==5.2.2
PyInstaller==3.3
pyserial==3.0.1
qrcode==5.3
reportlab==3.4.0
requests==2.18.4
telepot==12.0
